{% load widget_tweaks %}

<!-- form -->
{% for field in form %}
<div class="mb-3">
    <!-- label -->
    {{ field.label_tag }}

    <!-- start1 input -->
    {% if form.is_bound %}

    <!-- start 2 -->
    {% if field.errors %}
    <!--  -->
    {% render_field field class="form-control is-invalid" %}

    <!-- start 3 -->
    {% for error in fields.errors %}
    <div class="invalid-feedback">{{error}}</div>
    <!-- end 3 -->
    {% endfor %}
    <!--  -->
    {% else %}
    <!--  -->
    {% render_field field class="form-control is-valid" %}

    <!-- end 2  -->
    {% endif %}

    <!-- med 1 -->
    {% else %}
    <!--  -->
    {% render_field field class="form-control" %}
    <!-- end 1 -->
    {% endif %}

    <!-- help -->
    {% if field.help_text %}
    <small class="form-text text-muted"> {{ field.help_text }} </small>
    {% endif %}
</div>
{% endfor %}
