{% extends 'base.html' %}

<!-- pagetitle -->
{% block pagetitle %} Change Password {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
<li class="breadcrumb-item text-white">
    <a href="{% url 'home' %}" class="text-white">Home</a>
</li>

<li
    class="breadcrumb-item active text-white text-capitalize"
    aria-current="page"
>
    Change Password
</li>
{% endblock %}

<!-- content -->
{% block content %}
<div>
    <div class="container py-5">
        <div class="title">
            <h2 class="text-capitalize text-center">Change password</h2>
        </div>

        <form method="POST" class="">
            {% csrf_token %}
            <!--  -->

            {% include 'includes/form.html' %}

            <div class="mb-3">
                <button class="btn btn-success text-capitalize" type="submit">
                    Change password
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
