{% extends 'base.html' %}

<!-- pagetitle -->
{% block pagetitle %} Signup {% endblock %}

<!-- body -->
{% block body %}
<div>
    <div class="container py-5">
        <div class="title">
            <h2 class="text-capitalize text-center">Login</h2>
        </div>

        <form method="POST" class="">
            {% csrf_token %}
            <!--  -->

            <input type="hidden" name="next" value="{{ next }}" />
            {% include 'includes/form.html' %}

            <div class="mb-3">
                <button class="btn btn-success text-capitalize" type="submit">
                    login
                </button>
            </div>
        </form>

        <div class="card-footer text-muted text-center">
            Create New account?
            <a href="{% url 'signup' %}">Sign up</a>
        </div>
    </div>
</div>
{% endblock %}
